<li>
	<%= gravatar_for user %>
	<%= link_to user.name, user %>
	<% if current_user.admin? && !current_user?(user) %>
		<%= link_to "delete", user, method: :delete, confirm: "You sure?" %>
	<% end %>
</li>
<!-- jjjj come back to pg  287 and 419 -->